
body {
    font-family: Roboto;
    font-size: 16px;
    color: #212121;
}

.field {
    position: relative;
    height: 72px;
    padding: 16px 0 0 0;
}

.field-label {
    color: #000 ;
    opacity: 0.75;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    display: block;

    position: relative;

    transform: translateY(24px);
    transition: transform 0.3s;
    transform-origin: 0 50%;
}

.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    -webkit-appearance: none;
    line-height: 16px;

    font-family: Roboto;
    font-size: 16px;

    border: none;
    outline: none;
    background: transparent;
    border: none;
    -webkit-appearance: none;
}


.field::after, .field:before{

    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 0;

    background-color: #e7e7e7;
}

.field:after {
    background-color: #43c2e7;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.field.is-focused::after {
    transform: scaleX(1);
}

.is-focused .field-label {

    transform: translateY(0) scale(0.75);
}

.has-label .field-label {
    transform: translateY(0) scale(0.75);
}
