.main {
    background: url("../img/bg.png");
}

.container{
    background-color: #EEE;
    padding: 30px;
    width: 300px;
    margin-top: 90px;
    text-align: center;
}

.form-item-margin-top{
    margin-top: 5px;
}