label {
	width: 150px;
	display:inline-block;
}

.main {
	width: 1000px;
	margin: auto;
	padding: 18px 0 18px 0;
}

.form {
	margin-top: 15px;
	padding: 5px 0 5px 0;
	text-align: center;
}

#form_left{
	margin-left: auto;
	margin-right: auto;
	/*text-align: center;*/
	width: 30%;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	padding: 10px;
}

#cards_table {
	margin-top: 110px;
}


.center div {
	background-color: aliceblue;
}

/*#btn_continue {*/
	/*margin-top: 15px;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*display: inherit;*/
/*}*/

table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 2px 5px 2px 5px;
}

#btn_reg {
	margin-top: 5px;
}

.btn_style {
	text-align: right;
	margin: 20px;
}

.nav {
	text-align: right;
	margin: 20px;
}

#start_text {
	margin-top: 10%;
	margin-left: 10%;
}

body {
	margin: 0px;
	padding: 0px;
	background: url("../img/bg.png");
}

#transactions {
	margin-top: 20px;
}

.feature {
	margin-top: 28px;
}

.icon {

	float: left;
	width: 54px;
	height: 54px;
	position: relative;
	background: url("../img/services.png");
}

.statements {
	background-position: 0 0;
}

.mobile {
	background-position: -54px 0;
}

.utilities {
	background-position: -108px 0;
}

.translation {
	background-position: -162px 0;
}

.deposits {
	background-position: -218px 0;
}

.title{
	font-weight: bold;
}

.header {
	text-align: center;
}

.action-container {
	width: 300px;
	float: right;
}

.icons {
	float: left;
}

.action-form {
	padding: 10px;
	margin-top: 18px;
	position: relative;
	background-color: #F5F5F5;
	border: 1px solid #b8b8b8;
}

.form-item-margin-top{
	margin-top: 5px;
}

/*navigation*/
.navigation-bar {
	padding: 14px;
	border-radius: 0px;
	border: none;
	width: 100%;
	height: 50px;
	background-color: #c8e6c9;
	text-align: right;
}

.navbar-item{
	padding: inherit;

}


/*transactionView*/

.main-container {
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
}

.main-container hr {

	border-color: #44a89f;
}

.steps {
	font-weight: bold;
}

.cards-descr-container {

	margin: auto;
	width: 400px;

}
.cards-labels {
	margin-left: 70px;
	float: left;

}
.cards-labels p {

	color: #4fc3b8;
	text-align: right;

}

.cards-values {
	float: right;
	margin-right: 120px;
}

.confirm-from-container {
	float: left;
}

.confirm-from-container p {
	margin-left: 250px;
	font-size: 33px;
}

.confirm-to-container {
	float: left;
}

.confirm-to-container p {
	font-size: 33px;
}

.confirm-container {
	clear: both;
	padding-top: 30px;
}

.transfer-btn {
	padding-top: 40px;
	clear: both;
	text-align: center;
}

.arrow-icon {
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
	float: left;
	width: 36px;
	height: 36px;
	background: transparent url(../img/arraw.png) 0 -1941px;
}

.successfull-text {
	margin-top: 15%;
	text-align: center;
	text-transform: uppercase;
}

.return-btn {
	margin-top: 40px;
	text-align: center;
}